.navbar {
  background-color: var(--var-color-winter-cold);
}

.nav-item {
  text-align: center;
  margin-left: 1rem;
  transition: .4s;
}

.nav-link {
  font-weight: 500;
  border-bottom: 3px solid transparent;
  padding: .1rem .25rem !important;
}

.nav-item:hover .nav-link, .nav-item.active .nav-link {
  color: rgba(255, 255, 255, 90%) !important;
  border-color:  rgba(255, 255, 255, 90%) !important;
}
